    {% extends 'prayers/base.html' %}

    {% block content %}

    {% if user.is_authenticated %}
        <div class="message-boxes">
            <div class="title-box">
                {% if user.is_superuser %}
                    Unassigned Requests
                {% else %}
                    Unprayed Requests
                {% endif %}
            </div>
            {% if messages %}
                {% for message in messages %}
                <div class="message-box">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        </div>
            {% if user.is_active %}
                    {% if prayers %}
                            {% for prayer in prayers %}
                            <div class="prayer-boxes">
                                <a href=
                                {% if user.is_superuser %}
                                    "{% url 'prayers:admin-detail' pk=prayer.id %}"
                                {% else %}
                                    "{% url 'prayers:detail' pk=prayer.id %}"
                                {% endif %}
                                </a>
                                <div class="box-top">
                                    {{ prayer.originating_ministry }}
                                </div>
                                <div class="box-panel">
                                    <span class="box-label">FROM</span><br />{{ prayer.user_name }}<br />
                                    <span class="box-label">RECEIVED</span><br />{{ prayer.received_at|date:"D d M Y" }}<br />
                                    <span class="box-label">REQUEST</span><br />{{ prayer.user_request|truncatechars:78 }}<br />
                                </div>
                            </div>
                            {% endfor %}
                            <div id="pagination">
                                <form class="page-form" method="get">
                                    <span class="step-links">
                                        {% if prayers.has_previous and prayers.has_next %}
                                            <a href="?page=1">First</a> |
                                            <a href="?page={{ prayers.previous_page_number }}">Previous</a>
                                            | Page {{ prayers.number }} of {{ prayers.paginator.num_pages }} |
                                            <a href="?page={{ prayers.next_page_number }}">Next</a> |
                                            <a href="?page={{ prayers.paginator.num_pages }}">Last </a>
                                        {% elif prayers.has_previous %}
                                            <a href="?page=1">First</a> |
                                            <a href="?page={{ prayers.previous_page_number }}">Previous</a>
                                            | Page {{ prayers.number }} of {{ prayers.paginator.num_pages }} | <span class="no-link"> Next | Last</span>
                                        {% elif prayers.has_next %}
                                        <span class="no-link"> First | Previous | </span>
                                        Page {{ prayers.number }} of {{ prayers.paginator.num_pages }} |
                                        <a href="?page={{ prayers.next_page_number }}">Next</a> |
                                        <a href="?page={{ prayers.paginator.num_pages }}">Last </a>
                                        {% endif %}
                                    </span>
                                    {% if not prayers.has_next and not prayers.has_previous %}
                                    {% else %}

                                        <input class="form-control search-input" type="text" name="page" size="5" maxlength="4">
                                        <input class="button" type="submit" value="Go To">

                                    {% endif %}
                                </form>
                            </div>
                    {% else %}
                        <div class="message-boxes">
                            <div class="site-info"
                                <span>No Prayers to display.</span>
                            </div>
                        </div>

                    {% endif %}
            {% else %}
                <div class="site-info">
                    <span>Your status is currently Inactive.<br />
                        Contact administrator to activate account.</span>
                </div>
            {% endif %}
    {% else %}
        <div class="message-boxes">
            <div class="title-box">
                <span>Welcome!</span>
            </div>
        </div>
        <div class="site-info">
            <span>Please login to continue.</span>
        </div>


    {% endif %}

    {% endblock %}
