{% extends 'prayers/base.html' %}
{% block content %}

<div class="message-boxes">
    <div class="site-info">
        <span>Login to Your Account</span>
    </div>
    {% if messages %}
        {% for message in messages %}
            <div class="message-box">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
</div>

{% if user.is_authenticated %}
    <div class="site-info">
        <span>You are already logged in. <br />
            <a href="{% url 'prayers:index' %}">Home</a></span>
    </div>
{% else %}
	<form class="login" role="form" id="login_form" method="post" action="{% url 'prayers:login' %}">
		{% csrf_token %}
		<div>
			<label for="username">Username</label>
			<div class="form-box">
				<input type="text" class="form-control" id="username" name="username" placeholder="Enter Username">
			</div>
		</div>
		<div>
			<label for="password">Password</label>
			<div class="form-box">
				<input type="password" class="form-control" id="password" name="password" placeholder="Enter Password">
			</div>
		</div>
		<div>
			<div>
				<button type="submit" class="button">Login</button>
			</div>
		</div>
	</form>
{% endif %}

{% endblock %}
