    {% extends 'prayers/base.html' %}
    {% block content %}
    <div class="message-boxes">
        <div {% if prayer.prayed_at %} class="title-box" {% else %} class="title-box faded" {% endif %}>
            Prayer Complete
        </div>
        <div {% if prayer.response_by %} class="title-box" {% else %} class="title-box faded" {% endif %}>
            Response Sent
        </div>
        {% if prayer.prayed_at or prayer.response_at %}
            <!-- If above condition is false, display nothing. -->
        {% else %}
            <div class="title-box delete">
                    <a href="{% url 'prayers:delete' pk=prayer.id %}">Delete</a>
            </div>
        {% endif %}
    </div>

    {% if search_string %}
    <div class="message-boxes">
            <div class="title-box">
                <a href="{% url 'prayers:all-prayers' %}?q={{ search_string }}">Search: "{{ search_string }}"</a>
            </div>
            <div class="title-box">
                <a href="{% url 'prayers:all-prayers' %}">Clear Search</a>
            </div>
    </div>
    {% endif %}

    <div class="detail-section">
        <div class="detail-box">
            <dl>
                <dt>Name</dt>
                <dd>{{ prayer.user_name }}</dd>
                <dt>Email</dt>
                <dd>{{ prayer.user_email }}</dd>
                <dt>Received At</dt>
                <dd>{{ prayer.received_at|date:"D d M Y" }}</dd>
                <dt>Updated At</dt>
                <dd>{{ prayer.updated_at|date:"D d M Y" }}</dd>
            </dl>
        </div>

        <div class="detail-box">
            <dl>
                <dt>Prayed By</dt>
                <dd>{{ prayer.prayed_by }}</dd>
                <dt>Prayed At</dt>
                <dd>{{ prayer.prayed_at|date:"D d M Y"|default:"None" }}</dd>
                <dt>Response By</dt>
                <dd>{{ prayer.response_by }}</dd>
                <dt>Response At</dt>
                <dd>{{ prayer.response_at|date:"D d M Y"|default:"None" }}</dd>
            </dl>
        </div>
        <div class="detail-box">
            <dl>
                <dt><label for="assigned_to">{% if prayer.assigned_to %}Reassign{% else %}Assign{% endif %}</label></dt>
                <dd><form role="form" id="assigned_to" method="post" action="{% url 'prayers:assign' pk=prayer.id  %}">
                {% if not prayer.prayed_by %}
                    {% csrf_token %}
                        <select id="soflow" name="assigned_to" >
                            {% for staff in prayer_staff %}
                            <option>{{ staff.username }} - ({{ staff.employee.unprayed_count }})</option>
                            {% endfor %}
                        </select><br />
                        <button type="submit" class="button assign" >{% if prayer.assigned_to %}Reassign{% else %}Assign{% endif %}</button>
                </form>
                {% else %}
                Prayer Complete
                {% endif %}
                </dd>
                <dt>Assigned To</dt>
                <dd>{{ prayer.assigned_to }}</dd>
                <dt>Assigned At</dt>
                <dd>{{ prayer.assigned_at|date:"D d M Y"|default:"None"}}</dd>
            </dl>
        </div>
    </div>


    <div class="detail-section">
        <div class="prayer-request-box">
            <dl>
                <dt>Request</dt>
                <dd>Subject: {{ prayer.email_subject }}</dd>
                <dd>{{ prayer.user_request | linebreaks }}</dd>
            </dl>
        </div>
    </div>


    {% if prayer.response_by %}
    <div class="detail-section">
        <div class="prayer-request-box">
            <dl>
                <dt>Response Text</dt>
                <dd>{{ prayer.response_text|safe }}</dd>
            </dl>
        </div>
    </div>
    {% else %}
    <div class="detail-section">
        <div class="prayer-request-box">
            <dl>
                <dt>Response Text</dt>
                <dd>No Response Sent</dd>
            </dl>
        </div>
    </div>
    {% endif %}



    {% endblock %}
