{% extends 'prayers/base.html' %}
{% block content %}

<h1></h1>


<div class="row">
    <div class="col-md-12 text-center">
        <h2><small>Resources for goTandem Clients Last updated 10/16/2012</small></h2>
    </div>
</div>



<div class="row">
    <div class="col-md-12">
        <dl class="dl-horizontal">
            <dt>Suicide/Crisis</dt>
                <dd>•Hope Line    www.thehopeline.com    1-800-394-HOPE (4673)    Primarily geared towards people under 26</dd>
                <dd>•National Suicide Prevention Lifeline    http://www.suicidepreventionlifeline.org/    1-800-273-TALK (8255)    Not specifically Christian; connects to local crisis centers</dd>
                <dd>•Groundwire    www.groundwire.net    N/A    Primarily geared toward teens; 24 hour chat</dd>
                <dd>•International    www.suicide.org    Resource for identifying prevention resource in different countries</dd>
                <dd>•Veteran’s Crisis Line    www.veteranscrisisline.net    1-800-273-8255 PRESS 1 Text 838255    Confidential chat also available on the website. Help for active duty, veterans, & family/friends.</dd>
            </dt>
        </ul>
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <dl class="dl-horizontal">
            <dt>Counseling</dt>
                <dd>•Focus on the Family    www.focusonthefamily.com    1-800-232-6459    Open M-F, 7am-9pm Central</dd>
                <dd>•Jamaica – Choose Life Ministries    920-7924</dd>
                <dd>•Jamaica – Family Life Ministries    Fam.life@cwjamaica.com    926-8101, 929-4360 or 920-1034</dd>
            </dt>
        </ul>
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <dl class="dl-horizontal">
            <dt>Other Resources</dt>
                <dd>•National Domestic Violence Hotline    www.thehotline.org    1-800-799-SAFE (7233)    Family violence; connects with local shelters</dd>
                <dd>•XXXChurch    www.xxxchurch.com    Pornography addiction; includes online support groups & resources for men, women & teens</dd>
                <dd>•Grief Share    www.griefshare.org    1-800-395-5755    Grief counseling via local support groups</dd>
                <dd>•Post-abortion support     http://www.silentnomoreawareness.org/index.aspx http://pregnancydecisionline.org/get-help/    N/A    Many online resources; can connect with a local post-abortion support group</dd>
            </dt>
        </ul>
    </div>

</div>







{% endblock %}