{% extends 'prayers/base.html' %}
{% block content %}

<div class="message-boxes">
    {% if not prayer.prayed_at %}
        <div class="title-box amen">
            <a href="{% url 'prayers:complete' pk=prayer.id %}">Amen</a>
        </div>
    {% else %}
        <div class="title-box">
            Prayer Complete
        </div>
    {% endif %}
    {% if messages %}
        {% for message in messages %}
            <div class="message-box">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
</div>




<div class="detail-section">
    <div class="detail-box">
        <dl>
            <dt>From</dt>
            <dd>{{ prayer.user_name }}</dd>
            <dt>Email</dt>
            <dd>{{ prayer.user_email }}</dd>
            <!-- <dt>Assigned To</dt>
            <dd>{{ prayer.assigned_to.username}}</dd> -->
        </dl>
    </div>
    <div class="detail-box">
        <dl>
            <dt>Received At</dt>
            <dd>{{ prayer.received_at|date:"D d M Y" }}</dd>
            <dt>Assigned At</dt>
            <dd>{{ prayer.assigned_at|date:"D d M Y" }}
        </dl>
    </div>
    <div class="detail-box">
        <dl>
            <dt>Prayed At</dt>
            <dd>{{ prayer.prayed_at|date:"D d M Y"|default:"None" }}</dd>
            <dt>Response At</dt>
            <dd>{{ prayer.response_at|date:"D d M Y"|default:"None" }}</dd>
        </dl>
    </div>
</div>


<div class="detail-section">
    <div class="prayer-request-box">
        <dl>
            <dt>Request</dt>
            <dd>Subject: {{ prayer.email_subject }}</dd>
            <dd>{{ prayer.user_request | linebreaks }}</dd>
        </dl>
    </div>
</div>


{% if prayer.response_by %}
<div class="detail-section">
    <div class="prayer-request-box">
        <dl>
            <dt>Response Text</dt>
            <dd>{{ prayer.response_text|safe}}</dd>
        </dl>
    </div>
</div>
{% endif %}


{% if user.username = prayer.assigned_to.username and not prayer.response_by %}
<div class="detail-section">
    <div class="prayer-request-box">
        <form role="form" id="prayer_response_form" action="{%url 'prayers:respond' pk=prayer.id %}" method="post" >
            {% csrf_token %}
            <div>
                <label for="response_text">Response</label>
                <div>
                    {{ form.response_text }}
                    <input type="hidden" name="username" value={{ user.username }}>
                    <input class="button response-button"type="submit" value="Send Response" />
                </div>
            </div>
        </form>
    </div>
</div>




{% endif %}




{% endblock %}
