{% extends 'prayers/base.html' %}
{% block content %}


    <div class="message-boxes">
        <div class="title-box">
        {% if search_string %}
            <a href="{% url 'prayers:all-prayers' %}?q={{ search_string }}">Search: "{{ search_string }}"</a>
        </div>
        <div class="title-box">
            <a href="{% url 'prayers:all-prayers' %}">Clear Search</a>
        {% else %}
            All Prayer Requests
        {% endif %}
        </div>
        <div class="title-box">
            <form role="form" id="search" method="get" action="{% url 'prayers:all-prayers'  %}">
            <input class="form-control search-input"id="searchbox" name="q" type="text" placeholder="Search">
            <button type="submit" class="button" >Search</button>
            </form>
        </div>
    </div>

    <div class="message-boxes">
        <ul class="filter">
            <li class="white"><a href="{% url 'prayers:all-prayers-filter' id=1 %}">Unassigned</a></li>
            <li class="green"><a href="{% url 'prayers:all-prayers-filter' id=2 %}">Prayed | Response Sent</a></li>
            <li class="blue"><a href="{% url 'prayers:all-prayers-filter' id=3 %}">Prayed | No Response Sent</a></li>
            <li class="yellow"><a href="{% url 'prayers:all-prayers-filter' id=4 %}">Not Prayed | Response Sent</a></li>
            <li class="red"><a href="{% url 'prayers:all-prayers-filter' id=5 %}">Assigned | Not Prayed/Responded</a></li>
            <li><a href="{% url 'prayers:all-prayers' %}">Remove Filter</a></li>
        </ul>
    </div>



    {% if prayers %}
    {% for prayer in prayers %}
    <div
        {% if prayer.prayed_at and not prayer.response_at %} class="prayer-boxes info"
        {% elif prayer.prayed_at and prayer.assigned_to %} class="prayer-boxes success"
        {% elif not prayer.prayed_at and prayer.response_at %} class="prayer-boxes warning"
        {% elif not prayer.prayed_at and not prayer.response_at and prayer.assigned_to %} class="prayer-boxes danger"
        {% else %} class="prayer-boxes"
        {% endif %}
    >
        <a href="{% url 'prayers:admin-detail' pk=prayer.id %}{% if search_string %}?q={{ search_string }}{% endif %}"</a>
        <div class="box-top">
            {{ prayer.originating_ministry }}
        </div>
        <div class="box-panel">
            <span class="box-label">FROM</span><br />{{ prayer.user_name }}<br />
            <span class="box-label">RECEIVED</span><br />{{ prayer.received_at|date:"D d M Y" }}<br />
            <span class="box-label">ASSIGNED TO</span><br />{{ prayer.assigned_to }}<br />
            {% if prayer.prayed_at %}
            <span class="box-label">PRAYED AT</span><br />{{ prayer.prayed_at|date:"D d M Y" }}<br />
            {% endif %}
        </div>
    </div>
    {% endfor %}


    <div id="pagination">
        <form class="page-form" method="get">
            <span class="step-links">
                {% if prayers.has_previous and prayers.has_next %}
                    <a href="?page=1">First</a> |
                    <a href="?page={{ prayers.previous_page_number }}">Previous</a>
                    | Page {{ prayers.number }} of {{ prayers.paginator.num_pages }} |
                    <a href="?page={{ prayers.next_page_number }}">Next</a> |
                    <a href="?page={{ prayers.paginator.num_pages }}">Last </a>
                {% elif prayers.has_previous %}
                    <a href="?page=1">First</a> |
                    <a href="?page={{ prayers.previous_page_number }}">Previous</a>
                    | Page {{ prayers.number }} of {{ prayers.paginator.num_pages }} | <span class="no-link"> Next | Last</span>
                {% elif prayers.has_next %}
                <span class="no-link"> First | Previous | </span>
                Page {{ prayers.number }} of {{ prayers.paginator.num_pages }} |
                <a href="?page={{ prayers.next_page_number }}">Next</a> |
                <a href="?page={{ prayers.paginator.num_pages }}">Last </a>
                {% endif %}
            </span>
            {% if not prayers.has_next and not prayers.has_previous %}
            {% else %}
            <input class="form-control search-input" type="text" name="page" size="5" maxlength="4">
            <input class="button" type="submit" value="Go To">
            {% endif %}
        </form>
    </div>
    {% else %}
    <div class="message-boxes">
        <div class="site-info"
            <span>No Prayers to display.</span>
        </div>
    </div>
    {% endif %}


    {% endblock %}
